# Quick Edit: Wi-Fi + MQTT
CONFIG_EXAMPLE_WIFI_SSID="your-wifi-ssid"
CONFIG_EXAMPLE_WIFI_PASSWORD="your-wifi-password"
CONFIG_WIFI_HTTP_DEMO_STATIC_IP="192.168.2.100"
CONFIG_WIFI_HTTP_DEMO_STATIC_NETMASK="255.255.255.0"
CONFIG_WIFI_HTTP_DEMO_STATIC_GATEWAY="192.168.2.1"
CONFIG_WIFI_HTTP_DEMO_STATIC_DNS_MAIN="192.168.2.1"
CONFIG_WIFI_HTTP_DEMO_STATIC_DNS_BACKUP="8.8.8.8"
CONFIG_WIFI_HTTP_DEMO_LED_GPIO=2
CONFIG_WIFI_HTTP_DEMO_LED_ACTIVE_LOW=y
CONFIG_WIFI_HTTP_DEMO_MQTT_URI="mqtts://your-emqx-host:8883"
CONFIG_WIFI_HTTP_DEMO_MQTT_USERNAME="your-mqtt-username"
CONFIG_WIFI_HTTP_DEMO_MQTT_PASSWORD="your-mqtt-password"
CONFIG_WIFI_HTTP_DEMO_MQTT_TOPIC_ROOT="nodemcu"
CONFIG_WIFI_HTTP_DEMO_MQTT_CLIENT_ID_PREFIX="esp8266-nodemcu"

# Set the serial port locally in menuconfig, for example COM3 on Windows.
# CONFIG_ESPTOOLPY_FLASHMODE_QIO is not set
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHMODE="dio"
CONFIG_SPI_FLASH_MODE=0x2
